@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

  *{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
  }

  .container{
  background-image: url('../resources/banner-image.png');
  background-size: cover;
  max-width: 1320px;
  width: 100%;
  height: 600px;
  margin: 20px auto;
  border-radius: 16px;
  }


  .banner{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  }


.heading-title{
color: #FFFFFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 147px 531px 0 530px;

}

.banner-heading-title{
 color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
padding: 30px 344px 177px 344px;
}

.offer{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 50px;
}

.deal-message{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 30px;
}

.categories-title{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.offer-tag, .categories {
  margin-bottom: 15px;
}

.new-year-image {
  max-width: 100%;
  height: auto;
}

.content-display{
 
  background-image: url('../resources/vector.png');
  background-size: cover;
  max-width: 1320px;
  width: 100%;
  height: 600px;
  margin: 20px auto;
  border-radius: 16px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.content-primary{
width: 100%;
height: 100%;
background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.content-wrapper{
   display: flex;
  justify-content: center;
  align-items: center;
   padding: 15px;
}

.left-content{
  margin-left: 126px;
}

.midnight-party{
color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
margin-top: 110px;
}



.midnight-party-message{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: 24px;
}

.btn-primary{
background: #F00;
border: none;
padding: 20px;
margin-top: 40px;
border-radius: 8px;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.new-year{
max-width: 100%;
height: auto;
}

.party-time{
  max-width: 1320px;
  width: 100%;
  height: 600px;
  margin: 20px auto;
  margin-bottom: 120px;
}

.party-place-time{
width: 100%;
height: 100%;
background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
border-radius: 16px;
text-align: center;
}

.place-name{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
padding-bottom: 15px;
padding-top: 120px;
}

.color-red{
color: #F00;
}







